FRONTEND_URL=http://localhost:3000

# Production URLs
# NEXT_PUBLIC_BACKEND_API_URL=https://eco-pulse-server.vercel.app
# BACKEND_URL=https://eco-pulse-server.vercel.app

# Local URLs
NEXT_PUBLIC_BACKEND_API_URL=http://localhost:5000
BACKEND_URL=http://localhost:5000

# Cloudinary (Replace with your own credentials)
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=your_upload_preset
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloud_name
